# Import Dependencies

In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.metrics import classification_report
from sklearn.svm import SVC 
import pandas as pd
import numpy as np
import os

## Read the csv file into a pandas DataFrame

In [2]:
health_data = pd.read_csv('../Resources/exercise.csv')
health_data.head()

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3
2  11179863    male   69   179.0    79.0       5.0        88.0       38.7
3  16180408  female   34   179.0    71.0      13.0       100.0       40.5
4  17771927  female   27   154.0    58.0      10.0        81.0       39.8

In [3]:
calories_data = pd.read_csv('../Resources/calories.csv')
calories_data.head()

    User_ID  Calories
0  14733363     231.0
1  14861698      66.0
2  11179863      26.0
3  16180408      71.0
4  17771927      35.0

## Mearging pandas dataframe

In [4]:
hdata=pd.merge( health_data,calories_data, on='User_ID')
hdata.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [5]:
target = hdata["Gender"]
target_names = ["male", "female"]

In [7]:
data = hdata.drop(["Gender","User_ID"], axis=1)
feature_names = data.columns
data.head()

   Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0   68   190.0    94.0      29.0       105.0       40.8     231.0
1   20   166.0    60.0      14.0        94.0       40.3      66.0
2   69   179.0    79.0       5.0        88.0       38.7      26.0
3   34   179.0    71.0      13.0       100.0       40.5      71.0
4   27   154.0    58.0      10.0        81.0       39.8      35.0

## Spliting data into test and train

In [8]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=2018)

## # Support vector machine linear classifier

In [9]:
model = make_pipeline(SVC(kernel='linear'))
model.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('svc', SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False))])

## Model Accuracy

In [10]:
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.921

## Calculate classification report

In [11]:
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

        male       0.92      0.92      0.92      1876
      female       0.92      0.92      0.92      1874

   micro avg       0.92      0.92      0.92      3750
   macro avg       0.92      0.92      0.92      3750
weighted avg       0.92      0.92      0.92      3750